@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-bg-title: #0F4C81;
  --glb-main-color-a: #0F4C81;
  --glb-main-color-b: #404040;
  --glb-main-color-c: #738F6E;
  --glb-main-color-d: #C05621;

  --glb-main-color-a-hover: #135fa0;
  --glb-main-color-b-hover: #636262;
  --glb-main-color-c-hover: #8bac85;
  --glb-main-color-d-hover: #dd6428;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /*  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-primary-color hover:bg-primary-color-hover text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-secondary-color hover:bg-secondary-color-hover text-white py-2 px-4 rounded transition-all;
}

.pie-pagina span {
  margin-left: 4px;
}

.btn-disabled {
  @apply bg-gray-600 hover:bg-gray-600 text-white py-2 px-4 rounded transition-all;
}

.btn-delete {
  @apply bg-red-600 hover:bg-red-800 text-white py-2 px-4 rounded-b transition-all;
}